# Problem Set 2

### Question 1

**Consider the following Python module**:
a = 0
def b():
global a
a = c(a)
def c(a):
return a + 2
After importing the module into the interpreter, you execute:
- b()
- b()
- b()
-  a
?
What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [4]:
##Answer 1:
a = 0

def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2

b()
b()
b()
a

6

### Question 2

**Function fileLength(), given to you, takes the name of a file as input and returns the length of the file**:

- fileLength('midterm.py') 
284 
- fileLength('idterm.py') 
Traceback (most recent call last): 
    File "<pyshell#34>", line 1, in <module>
        fileLength('idterm.py') 
    File "/Users/me/midterm.py", line 3, in fileLength 
        infile = open(filename) 
    FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py'
    
As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead: 

- fileLength('midterm.py')
358 
- fileLength('idterm.py') 
File idterm.py not found.

In [3]:
def fileLength(filename):
    try:
        with open(filename, 'r') as file:
            contents = file.read()
            print(len(contents))
    except FileNotFoundError:
        print(f"File {filename} not found.")


fileLength(r"D:\Shrasth\Data_Programming\Filelength.txt")
fileLength('idterm.py')

123
File idterm.py not found.

### Question 3

**Write a class named Marsupial that can be used as shown below**: 

- m = Marsupial() 
- m.put_in_pouch('doll') 
- m.put_in_pouch('firetruck') 
- m.put_in_pouch('kitten') 
- m.pouch_contents() 

['doll', 'firetruck', 'kitten']

Now write a class named **Kangaroo** as a subclass of **Marsupial** that inherits all the attributes of **Marsupial** and also:

    a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,
    b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and
    c. overloads the __str__ operator so it behaves as shown below.
   
- k = Kangaroo(0,0) 
- print(k) 

I am a Kangaroo located at coordinates (0,0) 
- k.put_in_pouch('doll') 
- k.put_in_pouch('firetruck') 
- k.put_in_pouch('kitten') 
- k.pouch_contents() 

['doll', 'firetruck', 'kitten']

- k.jump(1,0) 
- k.jump(1,0) 
- k.jump(1,0) 
- print(k) 

I am a Kangaroo located at coordinates (3,0)

In [11]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

class Kangaroo(Marsupial):
    def __init__(self, x, y):
        Marsupial.__init__(self) # Calling the parent class constructor directly  
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

# Test the classes
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print("The pouch contents are:",m.pouch_contents())

k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

The pouch contents are: ['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

### Question 4

**Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence**:
           
           x = { 洧논/2     洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n                 3洧논+1    洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
            
            
Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

- collatz(1)

1

- collatz(10)

10

5

16

8

4

2

1

In [16]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

# Test the function
collatz(1)
print("\t")
collatz(10)

1

10
5
16
8
4
2
1

### Question 5

**Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n**. 

- binary(0) 0 
- binary(1) 1 
- binary(3) 11 
- binary(9) 1001

In [17]:
def binary(n):
    if n > 1:
        binary(n // 2)
    print(n % 2, end='')

n = int(input("Enter a non-negative integer: "))
if n < 0:
    print("Please enter a non-negative integer.")
else:
    print(f"Binary representation of {n}: ", end='')
    binary(n)
    print()

Enter a non-negative integer: 9
Binary representation of 9: 1001

### Question 8

**Write SQL queries on the below database table that return**:

    a) All the temperature data.
    b) All the cities, but without repetition.
    c) All the records for India.
    d) All the Fall records
    e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
    f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
    g) The total annual rainfall for Cairo.
    h) The total rainfall for each season.

In [107]:
import sqlite3
database_connection = sqlite3.connect('Weather.db') ##Creating a new database

In [108]:
cursor = database_connection.cursor()
cursor.execute('''
    CREATE TABLE if not exists weather (
        City text,
        Country text,
        Season text,
        Temperature real,
        Rainfall real
    )
''')
# Inserting data into the table
data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

cursor.executemany('''
    INSERT INTO weather (City, Country, Season, Temperature, Rainfall)
    VALUES (?, ?, ?, ?, ?)
''', data)

# Commiting the changes
database_connection.commit()

In [109]:
#: a) All the temperature data.

cursor.execute('SELECT Temperature FROM weather')
cursor.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [112]:
# b) All the cities, but without repetition.

cursor.execute('SELECT DISTINCT City FROM weather')
cursor.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [113]:
# c) All the records for India.

cursor.execute('SELECT * FROM weather WHERE Country = "India"')
cursor.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [114]:
# d) All the Fall records
cursor.execute('SELECT * FROM weather Where Season = "Fall"')
cursor.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [115]:
# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

cursor.execute('SELECT City,Country,Season FROM weather GROUP BY City,Country,Season HAVING AVG(Rainfall) BETWEEN 200 AND 400')
cursor.fetchall()

[('London', 'United Kingdom', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('Mumbai', 'India', 'Fall')]

In [116]:
# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

cursor.execute('SELECT City,Country FROM weather WHERE Season = "Fall" GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature) ASC')
cursor.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [117]:
# g) The total annual rainfall for Cairo.

cursor.execute('SELECT sum(Rainfall) FROM weather Where City = "Cairo"')
cursor.fetchall()

[(27.6,)]

In [118]:
# h) The total rainfall for each season.

cursor.execute('SELECT Season,sum(Rainfall) FROM weather GROUP BY Season')
results = cursor.fetchall()
formatted_results = [(season, round(rainfall, 1)) for season, rainfall in results]
print(formatted_results)

[('Fall', 569.0), ('Spring', 192.3), ('Summer', 1706.5), ('Winter', 230.1)]

In [119]:
#Closing the database after finishing the queries
database_connection.close()

### Question 9

**Suppose list words is defined as follows**:

- words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following lists:

    a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

    b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

    c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

    d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

    e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [26]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']


# A) Uppercase
uppercase = [word.upper() for word in words]
print(f"List with uppercase version: {uppercase}")
print("\t")

# B) Lowercase

lowercase = [word.lower() for word in words]
print(f"List with lowercase version: {lowercase}")
print("\t")

# C) Length of words

length_of_words = [len(word) for word in words]
print(f"The word length is: {length_of_words}")
print("\t")

# D) List containing every word upper,lower cases and length

word_details = [[word.upper(), word.lower(), len(word)] for word in words]
print(f"The word details are: {word_details}")
print("\t")

# E) Words containing 4 or more character

word_char = [word for word in words if len(word)>=4]
print(f"The word containing 4 or more characters are: {word_char}")

List with uppercase version: ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

List with lowercase version: ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

The word length is: [3, 5, 5, 3, 5, 4, 3, 4, 3]

The word details are: [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

The word containing 4 or more characters are: ['quick', 'brown', 'jumps', 'over', 'lazy']